.stMainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

[data-testid="stHeaderActionElements"]{
    visibility: hidden;
}

[data-testid="stHeader"] {
    background: linear-gradient(135deg, hsl(20 100% 55%) 0%, hsl(25 100% 60%) 100%);
}

[data-testid="stAltairChart"] {
    background-color: transparent;
}

.st-key-filters {
    background-color: white;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.st-key-spendings-graphs {
    background-color: white;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}




.st-key-totalSpendings{
    background:linear-gradient(135deg, hsl(174 72% 56%) 0%, hsl(179 72% 60%) 100%);
    color: white;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    gap: 0;
}
.st-key-biggestSpending{
    background:linear-gradient(135deg, hsl(20 100% 55%) 0%, hsl(25 100% 60%) 100%);
    color: white;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    gap: 0;
}
.st-key-mainCategorySpending{
    background:linear-gradient(135deg, hsl(217 91% 60%) 0%, hsl(222 91% 64%) 100%);
    color: white;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    gap: 0;
}

.st-key-totalSpendings h2,.st-key-biggestSpending h2,.st-key-mainCategorySpending h2{
    padding-top: 0;
}