footer {
    visibility: hidden;
}

[data-testid="stAppViewContainer"] {
    background-color: #f8f8f8;
}


[data-testid="stVerticalBlockBorderWrapper"] {
    background-color: white !important;
    border-radius: 24px;     
    padding: 24px;            
    border: 0; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

[data-testid="stAltairChart"] {
    background-color: transparent;
}