.stMainMenu {
    display: none;
}

footer {
    display: none;
}

span[data-testid="stHeaderActionElements"]{
    display: none;
}

.container_gzau3_1 ,._profileContainer_gzau_53{
    display: none;
}